Ejercicio 1/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
              <xs:element name="libros" type="xs:string"/>
              <xs:element name="revistas" type="xs:integer"/>
              <xs:element name="usuarios" type="xs:string"/>
              <xs:element name="prestamos" type="xs:integer"/>
            </xs:sequence>

        </xs:complexType>
        
    </xs:element>
</xs:schema>