Ejercicio 1/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
              <xs:element ref="libros"/>
              <xs:element ref="revistas"/>
              <xs:element ref="usuarios"/>
              <xs:element ref="prestamos"/>
            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="libro">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="anio" type="xs:integer"/>
            <xs:element ref="autores"/>
            <xs:element ref="etiquetas" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="categoria" type="xs:string" use="required"/>
        <xs:attribute name="isbn" type="xs:string" use="required"/>
        <xs:attribute name="paginas" type="xs:integer" use="optional"/>
    </xs:complexType>
    </xs:element>
    <xs:element name="autores">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="autor" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="autor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="orcid" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="etiquetas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etiqueta" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="revistas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="revista" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="anio" type="anioRevista"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="area" type="xs:string" use="optional"/>
            <xs:attribute name="issn" type="numIssn" use="required"/>
            <xs:attribute name="numero" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="anioRevista">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="numIssn">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{3}[0-9X]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="usuarios">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="usuario" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="usuario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="email" type="emailUsuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="emailUsuario">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+\.[a-z]+@[a-z]+\.[a-z]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>
   

</xs:schema>