Ejercicio 1/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
              <xs:element ref="libros"/>
              <xs:element ref="revistas"/>
              <xs:element ref="usuarios"/>
              <xs:element ref="prestamos"/>
            </xs:sequence>
            <xs:attribute name="fecha" type="xs:date" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="libros">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="libro" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="libro"/>
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="titulo" type="xs:string"/>
            <xs:element ref="anio" type="xs:integer"/>
            <xs:element ref="autores"/>
            <xs:element ref="etiquetas" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="categoria" type="xs:string" use="required"/>
        <xs:attribute name="isbn" type="xs:string" use="required"/>
        <xs:attribute name="paginas" type="xs:integer" use="optional"/>
    </xs:complexType>
    </xs:element>
   

</xs:schema>